{% extends 'blog/base.html' %}
    {% block title %}
        {% if posts_list %}
            {{ author_posts }}
            {% else %}
            Пользователя нет
        {% endif %}
    {% endblock %}
    {% block content_blog %}
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <div class="card">
                    <div class="card-body p-4">
                        <h2>{{ author_posts }} Количество записей {{ posts_list.count }}</h2>
                        <p>vou</p>
                    </div>
                </div>
            </div>
        </div>
        {% if posts_list %}
            {% for post in posts_list %}
                <div class="row mb-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <div class="card">
                            <div class="card-body p-4">
                                <h4 class="card-title">{{ post.title }}</h4>
                                <p class="card-text">{{ post.content|safe }}</p>
                                <div class="d-flex">
                                    <p class="text-primary mb-0">{{ post.date_created|date:"F d Y" }}</p>
                                    <div style="margin-right: -60px;margin-left: 13px;">
                                        <p class="fw-bold mb-0"><a href="{% url 'blog:post-detail' post.pk post.slug %}">link posts</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <div class="row mb-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <div class="card">
                            <div class="card-body p-4">
                                <h4 class="card-title">Записи нет</h4>
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
    {% endblock %}

