{% extends 'blog/base.html' %}
    {% block title %}
        {% if posts_list %}
            {{ author_posts }}
            {% else %}
            Пользователя нет
        {% endif %}
    {% endblock %}
    {% block content_blog %}
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <div class="card">
                    <div class="card-body p-4">
                        <h2>{{ author_posts }} Количество записей {{ posts_list.count }}</h2>
                        <p>vou</p>
                    </div>
                </div>
            </div>
        </div>
        {% if posts_list %}
            {% for post in posts_list %}
                <div class="row mb-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <div class="card">
                            <div class="card-body p-4">
                                <h4 class="card-title"><a href="{% url 'blog:post-detail' post.pk post.slug %}">{{ post.title }}</a></h4>
                                <p class="card-text">{{ post.content|safe }}</p>
                                <div class="d-flex">
                                    <p class="text-primary mb-0">{{ post.date_created|date:"F d Y" }}</p>
                                    <div style="margin-right: -60px;margin-left: 13px;">
                                        <p class="fw-bold mb-0"><a href="{% url 'blog:post-detail' post.pk post.slug %}">link posts</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
            {% else %}
                <div class="row mb-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <div class="card">
                            <div class="card-body p-4">
                                <h4 class="card-title">Записи нет</h4>
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
        {% if is_paginated %}
        {% if page_obj.has_previous %}
          <a class="btn btn-outline-info mb-4" href="?page=1">Первая</a>
          <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Предыдущая</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Следующая</a>
          <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Последняя</a>
        {% endif %}
      {% endif %}
    {% endblock %}

